{
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "lf",
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "jsxSingleQuote": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
